{{extend 'layout.html'}}
<!--This will be the home page-->

<!-- Expected task helper window thing yo -->


<!-- Recently created -->
<ul>
    {{for bootable in db().select(db.bootable.ALL, orderby=db.bootable.creation_date):}}
    {{=LI(bootable.title + ' ' + bootable.creation_date.strftime('%d/%m/%y'))}}
    {{pass}}
</ul>

<!-- Recently funded -->
<ul>
    {{for bootable in db().select(db.bootable.ALL, orderby=db.bootable.creation_date):}}
    {{=LI(bootable.title + ' ' + bootable.creation_date.strftime('%d/%m/%y'))}}
    {{pass}}
</ul>