{{extend 'layout.html'}}
<!--This will be the home page-->

<!-- Expected task helper window thing yo -->

<!-- Recently created -->
<h3>Recently Created</h3>
<ul>
    {{for bootable in recently_created:}}
    {{=LI(bootable.title + ' ' + bootable.creation_date.strftime('%d/%m/%y'))}}
    {{pass}}
</ul>

<!-- Recently funded -->
<h3>Closest to funding</h3>
<ul>
    {{for bootable in closest_to_funding:}}
    {{=LI(bootable.title + ' ' + str(bootable.funded_so_far) + '/' + str(bootable.funding_goal))}}
    {{pass}}
</ul>