{{extend 'layout.html'}}

<h1>Bootables You pledged towards</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Title</th>
        <th>Your Pledge</th>
        <th>Your Rewards</th>
        <th>Total Pledged</th>
        <th>Funding Goal</th>
        <th>Current status</th>
    </tr>
    </thead>
    <tbody>
    {{for row in results:}}
    <tr>
        <td><a href="{{=URL('bootable', 'view', vars={'id':row['id']})}}">{{=row['title']}}</a></td>
        <td>{{=row['value']}}</td>
        <td>{{=row['rewards']}}</td>
        <td>{{=row['funded_so_far']}}</td>
        <td>{{=row['funding_goal']}}</td>
        <td>{{=row['status']}}</td>
    </tr>
    {{pass}}
    </tbody>
</table>
