{{extend 'layout.html'}}

<h2>Pledge towards '{{=bootable.title}}'</h2>

{{=form}}

<table class="table table-striped">
    <thead>
    <tr>
        <th>If you pledge...</th>
        <th>You get...</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{for pledge_tier in pledge_tiers:}}
    <tr>
        <td>{{=pledge_tier.pledge_value}} GBP</td>
        <td>
            {{=pledge_tier.description}}
            {{if pledge_tier.includes_lower:}}
            + the rewards from the row above!
            {{pass}}
        </td>
    </tr>
    {{pass}}
    </tbody>
</table>