{{extend 'layout.html'}}
<!-- This page will handle bootable creation -->

{{extend 'layout.html'}}
<h2>Input form</h2>
<form enctype="multipart/form-data" action="{{=URL()}}" method="post">
    Your pledge
    <input name="value" />
    <input type="submit" />
    <input type="hidden" name="id" value="{{=bootable.id}}"/>
</form>

<table class="table table-striped">
    <thead>
    <tr>
        <th>If you pledge...</th>
        <th>You get...</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{for pledge_tier in pledge_tiers:}}
    <tr>
        <td>{{=pledge_tier.pledge_value}}</td>
        <td>
            {{=pledge_tier.description}}
            {{if pledge_tier.includes_lower:}}
            + the rewards from the row above!
            {{pass}}
        </td>
    </tr>
    {{pass}}
    </tbody>
</table>