{{extend 'layout.html'}}
<!-- This page will display bootables-->

<div class="page-header">
    <h1>{{=bootable.title}}
        <small>
            {{=bootable.description}}
        </small>
    </h1>
</div>

    {{funding_progress=(bootable.funded_so_far/bootable.funding_goal)*100}}
    {{ # If the funding progress is less than 1%, then we set it to 1% as to display the bar (even if only a little)
    if funding_progress < 1:
        funding_progress=1
    pass
    }}

    {{# Depending on the bootable's status, we generate a header}}
    {{if bootable.status=='Funded':}}
        <h2>This project is funded!</h2>
    {{elif bootable.status=='Not Funded':}}
        <h2>This project was closed without getting funded.</h2>
    {{else:}}
        <h2>Current Progress: {{=bootable.funded_so_far}} GBP out of {{=bootable.funding_goal}} GBP wanted</h2>
    {{pass}}

    {{# if the current user has pledged towards this project, we display that here }}
    {{if (current_user is not None) & (current_user_pledge is not None):}}
    <div class="alert alert-success">
        You have pledged {{=current_user_pledge.value}} GBP towards this project.
    </div>
    {{pass}}

    {{# depending on bootable's status, we generate a progress bar}}
    {{if bootable.status=='Funded':}}
        <div class="progress">
            <div class="bar bar-success" style="width: 100%;"></div>
        </div>
    {{elif bootable.status=='Not Funded':}}
        <div class="progress">
            <div class="bar bar-danger" style="width: {{=funding_progress}}%;"></div>
        </div>
    {{else:}}
        <div class="progress">
            <div class="bar bar-error" style="width: {{=funding_progress}}%;"></div>
        </div>
    {{pass}}


<ul class="nav nav-tabs">
    <li class="active"><a href="#image" data-toggle="tab">About the project</a></li>
    <li class=""><a href="#pledge_tiers" data-toggle="tab">Rewards for Pledging</a></li>
    <li class=""><a href="#pledges" data-toggle="tab">People who pledged</a></li>
    {{
    # The following link is shown if:
    # 1) The project is in the state 'Open For Pledges', as per the specification
    # AND
    # 2) The user is logged in and has not pledged towards the project yet OR the user is not logged in
    }}
    {{if (bootable.status=='Open For Pledges') & ((current_user is None) | ((current_user_pledge is None) & (current_user is not None))):}}
    <li class=""><a href="{{=URL('bootable','pledge', vars={'id':bootable.id})}}">Pledge yourself!</a></li>
    {{pass}}
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="image">
        <div class="text-center">{{=IMG(_class='bootable-image img-rounded', _src=URL('show', args=bootable.image))}}</div>

        <h4>Description</h4>
            {{# This next bit simply splits the description field into paragraphs and renders it as it's own separate p element}}
            {{for paragraph in bootable.long_description.split('\n'):}}
            {{=P(paragraph)}}
            {{pass}}
        <h4>About the author</h4>
            {{for paragraph in bootable.bm_description.split('\n'):}}
            {{=P(paragraph)}}
            {{pass}}

    </div>
    <div class="tab-pane fade" id="pledge_tiers">
        <p>If you pledge to funding this Bootable, you can get the following rewards depending on how much you pledge!</p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>If you pledge...</th>
                <th>You get...</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{for pledge_tier in pledge_tiers:}}
            <tr>
                <td>{{=pledge_tier.pledge_value}} GBP</td>
                <td>
                    {{=pledge_tier.description}}
                    {{if pledge_tier.includes_lower:}}
                    + the rewards from the row above!
                    {{pass}}
                </td>
            </tr>
            {{pass}}
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="pledges">
        <p>People who have pledged towards this project:</p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Their Username</th>
                <th>Their Pledge</th>
                <th>Their Rewards</th>
            </tr>
            </thead>
            <tbody>
            {{for pledge in pledge_display_objects:}}
            <tr>
                <td>{{=pledge['username']}}</td>
                <td>{{=pledge['value']}} GBP</td>
                <td>{{=pledge['rewards']}}</td>
            </tr>
            {{pass}}
            </tbody>
        </table>
    </div>
</div>
